<!DOCTYPE html>
{% extends "header.html" %}
{% block content %}

<h1> <center> We are the creators of Cafe Finder!<center></h1>
<p>
    A group of students who enjoy coffee and want to know where to get it, how much it is, and how its made.</p>
<p>
    We've created an application housed with a database consisting of any and all information you may 
    need to know when looking for a place to get a cup of coffee. 
    .</p>

<p>
    Creators of Cafe Finder: Shadi, Courtney, and Abigail </h2>

<style>
    h1 {
        font-family: "Courier New";
        font size: 30px;
        background-color: #F5F5F5;
        font color: b4642d;
    }

body {
    font-family: "Courier New";
    font size: 20px;
    background-color: #F5F5F5;
    padding: 30px;
    height: auto;
}

{
    % endblock %
}
