{% extends "header.html" %}
{% block content %}
<!DOCTYPE html>

<style>

    h1 {
        font-family: "Courier New";
        background-color: #995533;
        padding: 10px;
        text-align: center;
        margin-right: 80px;
    }

    h2 {
        font-family: "Courier New";
        background-color: #995533;
    }

    body {
        font-family: "Courier New";
        background-color: antiquewhite;
        padding: 10px;
        margin-left: 30px;
    }
</style>


<h1><center>Cafe Websites! <center></h1>

<h2>Links for you:</h2>
<ul style="list-style-type:none">
    <li><a href="https://www.starbucks.com/">Starbucks</a></li>
    <li><a href="https://www.dunkindonuts.com/en">Dunkin Donuts</a></li>
    <li><a href="https://www.re3eye.com/">Red Eye</a></li>
    <li><a href="https://luckygoatcoffee.com/">Lucky Goat</a></li>
    <li><a href="http://www.catalinacafe.com/">Catalina Cafe</a></li>
    <li><a href="http://thebadabean.com/">Bada Bean </a></li>
  
</ul>

{% endblock %}